*{
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
}

.container{
  width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}


/* PAGE-HEADER */
.page-header{
  padding: 15px 0;
  background-color: orange;
}

.logo{
  float: left;
  width: 20%;
  margin-right: 5%;
}

.logo-img,
.logo-text{
  vertical-align: middle;
}

.header-nav{
  float: right;
  width: 75%;
  text-align: right;
}

.header-nav li{
  display: inline-block;
}

.header-nav a{
  display: inline-block;
  padding: 10px;
}
.btn {
   padding: 5px;
}
.btn-order {
	margin-left: 30px;
    display: inline-block;
    background-color: #ffe083;
    color: black;
}
.btn-order a {
  text-decoration: none;
}

/* PROMO */

.promo {
	background-image: url(http://placehold.it/1000x1000);
	text-align: center;
	
}
.promo-slogan {
	color: white;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 36px;
	text-transform: uppercase;
}
.promo-txt {
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}
.btn-catalog {
  text-align: center;
  display: inline-block;
  width: 200px;
  border: 2px solid #ffce34;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}

/* CONSULT */

.consult {
	padding-bottom: 20px;
}
.consult-title {
  margin: 20px 20px;
}
.consult input[type="text"] {
  display: inline-block;
  margin-right: 2%;
  padding: 10px;
  border: 2px solid yellow;
  width: 20%;
  
}
.btn-consult-order {
  display: inline-block;
  width: 20%;
  margin-right: 0;
  background-color: #ffce34;
  color: #202e3b;
  text-decoration: none;
}


/* ADVERT */
.advert{
  background-color: gray;
  padding: 15px 0;
  overflow: hidden;
}

.advert-item{
  float: left;
  width: 25%;
  padding-right: 25px;
  padding-left: 75px;
  box-sizing: border-box;

  background-image: url(http://placehold.it/50x50);
  background-position: 5px 10px;
  background-repeat: no-repeat;
}

.advert-item:last-child{
  padding-right: 0;
}

/* CATALOG */
.catalog {
	padding-bottom: 20px;
}
.catalog-menu {
	float: left;
	width: 25%;
	margin-right: 5%;
}
.catalog-offers {
	float: left;
	width: 70%;
}

/* ABOUT */
.about{
  padding: 15px 0;
}

.numbers{
  float: left;
  width: 30%;
  margin-right: 5%;
}
.numbers-list li {
  list-style: none;
}
.numbers-number {
	font-size: 20px;
	color: yellow;
}
.reviews{
  width: 65%;
  float: left;
}

.reviews-item{
  overflow: hidden;
  margin: 10px 0;
}

.reviews-img{
  float: left;
  width: 20%;
  margin-right: 5%;
}

.reviews-quote{
  float: left;
  width: 65%;
}
.reviews-author {

}

/* FOOTER */

.main-footer {
  padding: 15px 0;
  background-color: #202e3b;
}

.logo {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.logo-img,
.logo-text {
  vertical-align: middle;
}

.footer-nav {
  float: right;
  width: 75%;
  text-align: right;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.btn-order {
	margin-left: 30px;
    display: inline-block;
    background-color: #ffe083;
    color: black;
}
.btn-order a {
  text-decoration: none;
}


/* PORTFOLIO */

.portfolio {
  overflow: hidden;
}
.portfolio-title {
  float: left;
.
}
.portfolio ul {
  display: inline-block;
  list-style: none;
}
.portfolio li {
  display: inline-block;
}


/* CATALOG */

.inner-promo-title {
	width: 45%;
	float: left;
}
.inner-promo-order {
	width: 45%;
	float: right;
}
.btn-consult-order {
    display: inline-block;
    width: 150px;
    text-align: center;
    color: blue;
}
.catalog {
	overflow: hidden;
}
.catalog-menu {
	float: left;
	width: 45%;
	margin-right: 5%;
}
.catalog-items {
	float: left;
	width: 50%;
}
.catalog-offers {
	float: left;
	width: 50%;
}

/* CONTACTS */

.map-form {
	overflow: hidden;
}
.map {
	float: left;
	width: 500px;
}
.consult-order {
	float: right;
}
.consult-order input[type="text"] {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.btn-take-consult {
	display: block;
	padding: 10px;
	background-color: #202e3b;
	color: #fff;
	width: 100%;
}
.comment-item {
	display: inline-block;
	width: 20%;
	margin-right: 5%;
}
.comment-item:last-child {
	margin-right: 0;
}
